
@keyframes background {
    100% {
      background-position: 0 300px ;
    }}
    @keyframes background1 {
        100% {
          background-position: 0 1088px ;
        }}
@keyframes shaking{
    10%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(10px);
    }
    30%{
        transform: translateX(20px);
    }
    40%{
        transform: translateX(30px);
    }
    50%{
        transform: translateX(40px);
    }
    60%{
        transform: translateX(30px);
    }
    70%{
        transform: translateX(20px);
    }
    80%{
        transform: translateX(10px);
    }
    90%{
        transform: translateX(0px);
    }
}
@keyframes shakingup{
    10%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(10px);
    }
    30%{
        transform: translateY(20px);
    }
    40%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(40px);
    }
    60%{
        transform: translateY(30px);
    }
    70%{
        transform: translateY(20px);
    }
    80%{
        transform: translateY(10px);
    }
    90%{
        transform: translateY(0px);
    }
}


.first_window_list , .second_window_ithems, .teachers_descr, .soocial, .map, .contacts_wrapper, .mine, .carusel_slider, .third_video, .first_window_name , .first_window_descr , .first_window_discount , .buttons , h1 {
    animation-duration: 2s;
  }
  .title , .second_window_ithem{
    animation-duration: 2s;
}