@media ( max-width: 1200px ){
    body{
        width: 100%;
        margin: 0 auto;
    }
    .menu{
        z-index: 3;
        flex-direction: column;
        position: fixed;
        justify-content: space-between;
        align-content: center;
        top: 0;
        left: -100%;
        width: 28%;
        height: 100%;
        padding: 20px 15px;
        
        background-color: rgba(0,0,0, .4);
        transition: 0.8s all;
        &_active{
            left: 0;
        }     
        &_link{
            font-size: 20px;
            padding-left: 40px;
        }   
        &_item{
            padding-right: 0px;
            border: none;
            margin-top: 40px;
            font-size: 20px;
        }
           
    }
    
    .hamburger{
        opacity: 100;
        display: block;
        position: relative;
        left: 90%;

        top: 39px;
        width: 50px;
        span{
            display: block;
            margin-top: 7px;
            height: 4px;
            width: 100%;
            background-color:  rgb(214, 183, 44);
            transition: 0.5s all;
        }    
        &_active{
            span{
                margin-bottom: -6px;
                &:nth-child(1){
                    transform: rotate(-45deg);
                }  
                &:nth-child(2){
                    display: none;
                }    
                &:nth-child(3){
                    transform: rotate(45deg);
                }
                    
            }
           
        }
           
    }
    .teachers_item{
        width: 50%;
        margin:0 50px;
    }
    .price_item{
        width: 50%;
        margin:0 50px;
    }
    .slick-prev, .slick-next{
        display: none;
    }
    .carusel_slider {
        .desr{
            width: 500px;
            font-size: 30px;
        }
        .name{
            font-size: 60px;
        }
        img{
            width: 300px;
        }
    }


}
@media ( max-width: 991px ){

}
@media ( max-width: 768px ){
    .title{
        font-size: 45px;
    }
    .first_window{
        ul{
            font-size: 23px;
            line-height: 41px;
        }
        &_name{
            width: 100px;
            right: -100px;
            top: -87px;
            font-size: 23px;
        }
        &_list{
            margin-left: 0px;
        }
        &_descr{
            font-size: 27px;
            width: 435px;
        }
    }
    .second_window_ithem .second_window_title{
        font-size: 23px;
    }
    .second_window{
        .button{
        margin-top: 150px;
        }
        &_ithem{
            width: 80%;
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;
            padding-top: 150px;
             &_1{
                top: -250px;
                left: 50%;
                transform: translateX(0%);
            }
            &_2{
                left: 50%;
                transform: translateX(0%);
            }
            &_3{
                left: 50%;
                transform: translateX(0%);
            }
            img{
                width: 150px;
                height: 110px;
            }
        }
    }
    .third_video{
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        
        iframe{
            
            margin:80px 80px;
            width: 80%;
            height: 30%;
        }
    }
    .teachers{
        &_item{
            margin:50px 50px;
            width: 100%;
            min-height: 20%;
            text-align: left;
            .img{
                display: inline-block;
                text-align: left;
                margin-top: 30px;
            }
        }
    }
    .price{
        &_items{
            flex-direction: column;
            align-items: center;
        }
        &_item{
            margin:50px 50px;
            width: 100%;
        }
    }
    .slick-prev, .slick-next{
        display: none;
    }
    .carusel_slider {
        .desr{
            width: 437px;
            font-size: 28px;
        }
        .name{
            font-size: 45px;
        }
        img{
            width: 400px;
        }
    }
    .form{
        margin-left: -100px;
        input{
            height: 60px;
            width: 400px;
            margin-bottom: 40px;
        }
        button{
            width: 400px;
            height: 40px;
            margin: 10px 0 40px 0;
        }
    }
    .order img{
        right: -840px;
        top: -354px;
    }
    .contacts_wrapper{
        font-size: 30px;
        top: -40px;
        left: 0;
    }
    .map{
        display: block;
        left: -375px;
        top: 330px;
    }
}
@media ( max-width: 780px ){
    
}
@media ( max-width: 780px ){
    .first_window{
        h1{
            font-size: 36px;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10%;
        }
        ul{
            font-size: 22px;
            line-height: 34px;
        }
        &_name{
            width: 100%;
            text-align: center;
            margin: 22% 0 0;
            font-size: 19px;
        }
        &_list{
            margin-left: 0px;
        }
        &_descr{
            margin-top: 20%;
            font-size: 27px;
            width: 100%;
            font-size: 17px;
        }
    }
    .hamburger{
        width: 10%;
        span{
            height: 2px;
        }
    }

    .title{
        font-size: 24px;
    }
    .second_window{
        &_title{
            font-size: 23px;
        }
        &_descr{
            font-size: 20px;
        }
        &_ithem{
             img{
            width: 60%;
            height: 30%;
            }
            &_1{
                padding-top: 50px;
            }
            &_2{
                padding-top: 50px;
            }
            &_3{
                padding-top: 50px;
            }
        }
        .button{
            margin-top: 100px;
            width: 200px;
        }
        .liner{
            display: none;
        }
    }
    .btn_header span{
        font-size: 100%;
    }

    .third{
        padding: 50px 0;
        &_video iframe{
            margin: 54px 0;
        }
    }
    .teachers{
        padding: 50px 0;
        &_descr{
            font-size: 23px;
        }
        &_items{
            padding-top: 50px;
        }
    }

    .price{
        padding: 50px 0;
        &_items{
            margin-top: 50px;
        }
    }
    .btn_header_buy{
        width: 80%;
    }
    .carusel_slider {
        img{
            width: 100%;
        }
        .name{
            font-size: 26px;
        }
        .desr{
            width: 90%;
            font-size: 20px;
        }
    }
    .tns-nav{
        margin-top: 10px;
    }

    .order {
        .form {
            width: 100%;
            margin-left: 0%;
            transform: translateX(0%);
            margin-bottom: 50px ;
            input{
                width: 100%;   
                margin-left: 0; 
                margin-left: 50%;
            }
            button{
                width: 100%;      
                margin-left: 50%;
                transform: translateX(-50%);
                font-size: 10px;
               
            }
        }
    }
    .contacts{
        padding: 50px 0;
        .soocial{
            width: 100%;
            margin-top: 30px;
        }
        .map{
            margin: -200px 0px 0 0;
        }
    }
    .logo{
        margin-top: 340px;
    }
    .up{
        width: 7%;
        bottom: 4%;
        right: 0%;
    }
    .dropdown{
        left: 5%;
        top: 3%;
    }
    .hamburger{
        left: 84%;
        top: 20px;
    }
    .menu{
        width: 40%;
        background-color: rgba(0,0,0,0.7);
        &_link{
            font-size: 17px;
        }
    }
    .form {
        margin-left: 0;
        input{
            width: 90%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        button{
            width: 90%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        &_overlay{
            margin-right: 0;
        }
    }
    .overlay .modal__close{
        right: -20px;
    }
    
}
@media ( max-width: 767px ){
    .contacts .soocial{
        margin-top: -75px;
    }
    .logo{
        margin-top: 360px;
    }
}
@media ( max-width: 520px ){
    .menu{
        width: 66%;
    }
}
@media ( max-width: 454px ){
    .logo{
        margin-top: -6px;
        margin-bottom: 20px;
    }
    .contacts{
        padding: 50px 0;
        .soocial{
            width: 100%;
            margin-top: 100px;
        }
        .logo .mine{
            margin-top: -40px;
        }
        .map{
            margin: -200px 0px 0 0;
            top: 70px;
        }
    }
    .about{
        padding-top: 0;
    }
    .carusel_slider{
        padding: 10px 0 0 0;
    }
    .second_window{
        padding: 50px 0;
    }
    .order{
        padding: 50px 0 0 0;
    }
    .contacts_wrapper{
        font-size: 20px;
    }
}
@media ( max-width: 2115px ){
    .price_item .price1{
        font-size: 20px;
    }
    .price_midle{
        margin-top: 20px;
    }

}

@media ( max-width: 1580px ){
    .price_item .price_ru{
        font-size: 14px;
    }
}
@media ( max-width: 1200px ){
    .price_item .price_ru{
        font-size: 20px;
    }
}
@media ( max-width: 360px ){
    .price_item .price_ru{
        font-size: 14px;
    }
}

