@import url("https://use.typekit.net/uly2abl.css");
@import 'base/animation';
@import 'base/logo';
body {
  width: 99%;
  background: center (center/cover) no-repeat;
  background-image: url("../img/header/bacground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
    box-sizing: border-box;
  }
.container{
    width: 60%;
    margin: 0 auto;
}

@import 'blocks/menu';
@import 'blocks/main';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/why';
@import 'blocks/how';
@import 'blocks/teacher';
@import 'blocks/price';
@import 'blocks/carosel';
@import 'blocks/order';
@import 'blocks/contacts';
@import 'blocks/forms';
@import 'blocks/overlay';
@import 'base/media';
