.third{
    min-height: 920px;
    padding: 100px 0;
    &_video{
        margin:160px 0;
        display: flex;
        justify-content: space-between;
        iframe{
            border-radius: 40px;
            animation-duration: 2s;
            &:hover{
                border: 3px solid rgb(179, 140, 35);
                box-shadow: 0 2px 24px rgb(214, 183, 44);
            }
        }
    }
}