.price{
    height: 100%;
    padding: 100px 0 ;
    &_items{
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
    }
    &_item{
        position: relative;
        transition: 0.8s all;
        animation-duration: 2s;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23%;
        max-height: 900px;
        text-align: center;
        border: 1px solid rgb(179, 140, 35);
        .name{
            font-family: trajan-color,serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 4.7px;
            color: rgb(255, 255, 255);
            margin-top: 10%;
            font-size: 25px;
            font-weight: 700;
        }
        .descr{
            font-family: cormorant-garamond, serif;
            font-weight: 300;
            font-style: italic;
            color: rgb(255, 255, 255);
            font-size: 20px;
            margin: 10% 5%;
            padding-bottom: 40%;
        }
        .price1{
            font-family: trajan-color,serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 1.7px;
            color: rgb(214, 183, 44);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 17%;
            font-size: 30px;
            text-align: center;
        
        }
        button{
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);
        }
        img{
            border-radius: 50%;
            width: 40%;
            margin-top: 10%;
        }
        &:hover{
            background-color: rgba(0, 0, 0 , 0.8) ;
            color: rgb(255, 255, 255);          
            box-shadow: 0 2px 24px rgb(214, 183, 44);
            img{
                transition: 0.8s all;
                width: 110px;
            }
        }
    }
}
.btn_it span{
    font-size: 76%;
    letter-spacing: 3.7px;
}
@media ( max-width: 1200px ){
    .price_items{
        flex-direction: column;
        align-items: center;
        .price_item{
            margin:50px 50px;
            
            
        }
    }
}
