.teachers{
    padding:0 0 120px 0 ;
    &_descr{
        font-family: cormorant-garamond, serif;
        font-weight: 300;
        font-style: italic;
        padding-top: 30px;
        color: rgb(255, 255, 255);
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
        width: 40%;
    }
    &_items{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    &_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.8s all;
        border-radius: 10px;
        animation-duration: 2s;
        width: 26%;
        max-height: 900px;
        text-align: center;
        border: 1px solid white;
        .img{
            transition: 0.8s all;
            width: 80%;
            
            border-radius: 100px;
            margin-top: 20%;
        }
        &:hover{
            background-color: rgba(0, 0, 0 , 0.8) ;
            border: 1px solid rgb(179, 140, 35);
            box-shadow: 0 2px 24px rgb(214, 183, 44);
        }
    }
    &_name{
        font-family: trajan-color,serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 4.7px;
        color: rgb(255, 255, 255);
        margin-top: 30px;
        font-size: 25px;
        font-weight: 700;
    }
    &_descrit{
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 20%;
        font-family: cormorant-garamond, serif;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        }
}
@media ( max-width: 1200px ){
    .teachers_items{
        flex-direction: column;
        align-items: center;
        .teachers_item{
            margin:50px 50px;
        }
    }
    .teachers_descr{
        font-size: 34px;
        width: 100%;
    }
}